body {
  font-family: 'Work Sans', sans-serif;
  background-color: #0f5813;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #0f5813;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
  font-size: 2.5em;
}

.subtitle {
  font-weight: bold;
  color: #000000;
}

.info, .instructions, .mobile-instructions, .download-instructions {
  margin: 20px 0;
  padding: 10px;
  background-color: #f3fff0;
  border-left: 5px solid #0f5813;
}

.download-instructions h2 {
  text-align: center; /* Centers the heading */
}

h2 {
  color: #0f5813;
}

.browser {
  margin-bottom: 20px;
}

ol {
  margin: 10px 0 10px 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #050505;
}
